@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #000020;
  --background: #010135;
  --text-color: white;
  --shadow-color: #014b7c;
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  width: 100%;
  color: var(--text-color);
  font-size: 1.3rem;
  transition: 0.1s;
}

a:hover {
  color: var(--text-color);
  text-decoration: underline;
}

ul {
  list-style: none;
}

body {
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  background-color: var(--background-color);
  justify-content: center;
  width: 100%;
  padding-inline: 20px;

  padding-bottom: 160px;
}

.day {
  color: var(--text-color);
  font-weight: 600;
}

.repo {
  margin-top: 20px;
}

.repo img {
  width: 35px;
  transition: 0.2s;
}

.repo img:hover {
  filter: drop-shadow(0px 0px 6px var(--shadow-color));
}

.content-list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-list h1 {
  width: 100%;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 30px;
  padding: 14px 30px;
  border-radius: 10px;
  border: 2px solid var(--shadow-color);
  box-shadow: 0px 2px 10px var(--shadow-color);
  filter: brightness(1.6);

  color: var(--text-color);
}

.introduction {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.introduction p {
  border-radius: 10px;
  color: var(--text-color);
  font-size: 1.5rem;
  text-align: center;
  width: 70%;
  margin-bottom: 30px;
  border: 2px solid var(--shadow-color);
  padding: 15px;
  transition: 0.3s;
  box-shadow: 0px 2px 10px var(--shadow-color);
}

.introduction p:hover {
  filter: brightness(1.6);
}

.content-list ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  padding: 15px;
  width: 100%;
  text-align: center;
}

.content-list ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px var(--shadow-color);
  border: 2px solid var(--shadow-color);
  text-align: left;
  transition: 0.3s;
}

.content-list ul li:hover {
  transform: scale(1.04);
  filter: brightness(1.6);
}

li img {
  width: 28px;
  margin-inline: 8px;
}

footer {
  background-color: black;
  padding: 30px;
}

.content {
  width: 100%;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact ul {
  display: flex;
  gap: 20px;
}

.contact ul li a img {
  width: 37px;
  transition: 0.2s;
}

.contact ul li a img:hover {
  filter: drop-shadow(0px 0px 6px var(--shadow-color));
}

.author p {
  color: white;
  font-size: 1rem;
}

.name {
  font-size: 1rem;
}

@media screen and (max-width: 740px) {
  .content-list ul li {
    width: 100%;
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
