@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Barclaycard Co Lt', Tahoma, sans-serif;
  color: #444444;
  background-color: #f1f1f1;
}

ul {
  list-style: none;
  width: 100%;
}

h2 {
  color: #018fd0;
  font-size: 2.25rem;
  margin-bottom: 25px;
}

h3 {
  color: #5224a0;
  font-size: 1.62rem;
  margin-bottom: 10px;
}

label {
  display: flex;
  gap: 10px;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 25px;
}

.content {
  width: 100%;
  max-width: 650px;
}

.questions_box {
  background-color: white;
  width: 100%;
  padding: 40px;
}

.button {
  cursor: pointer;
  font-size: 1rem;
  border: none;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 3px;
  background: #075da8;
  color: white;
  margin-top: 25px;
  transition: 0.3s;
  text-align: left;
}

.button:hover {
  background-color: #059fdb;
  color: white;
}

input:checked {
  color: #018fd0;
}

#question-2,
#question-3,
#question-4,
#question-5,
#question-6 {
  display: none;
}

#progress_bar {
  width: 20%;
  height: 12px;
  transition: all 0.3s;
  background-color: #018fd0;
}

.btn-back {
  position: fixed;
  height: 46px;
  width: 46px;
  top: 20px;
  right: 40px;
}

.toolTip {
  border-radius: 10px 0px 10px 10px;
  width: 60px;
  padding: 6px 8px;
  position: absolute;
  top: 46px;
  right: 29px;
  font-family: sans-serif;
  display: none;
  font-weight: 600;
  font-size: 0.9rem;
  background-color: #01060fa2;
  color: #ffffff;
  transition: 0.4s;
}

.btn-back a img {
  width: 100%;
  filter: drop-shadow(0 0 6px rgb(1, 75, 124));
  transition: filter 0.3s;
}

.btn-back a img:hover {
  filter: brightness(2.06);
  filter: drop-shadow(0 0 10px rgb(0, 105, 175));
}

.btn-back:hover .toolTip {
  display: inline;
}
