@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  overflow: hidden;
  padding-inline: 6%;

  color: white;
  background: linear-gradient(152.97deg, #0c0c0c 0%, #201e1e 100%);
  background-repeat: no-repeat;
}

.container {
  margin: 0 auto;
  max-width: 480px;
  min-width: 300px;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;

  /* margin: 0px auto; */
  height: 500px;
  max-width: 480px;
  min-width: 300px;

  border-radius: 15px;
  margin-top: 80px;
  padding-inline: 40px;

  background-color: rgba(255, 255, 255, 0.1);
  background: linear-gradient(
    152.97deg,
    rgba(255, 255, 255, 0.212) 0%,
    rgba(255, 255, 255, 0.055) 100%
  );
  backdrop-filter: blur(4px);
  z-index: 100;
}

.card form {
  width: 100%;
}

.card h1 {
  font-size: 48px;
  margin-top: 10px;
  margin-bottom: 20px;

  color: rgba(255, 255, 255, 0.733);
}

form p {
  font-size: 1.3rem;
  padding-inline: 10px;
  margin-top: 10px;

  color: rgba(255, 255, 255, 0.781);
}

.card form input {
  font-size: 0.9rem;

  margin-top: 2px;
  width: 100%;
  height: 38px;

  border: none;
  border-radius: 15px;
  padding-inline: 10px;
  background: rgba(111, 123, 139, 0.212);
}

.card form input:hover {
  transition: 0.3s;
}

.card form input:focus {
  box-shadow: 0px 0px 6px rgb(0, 153, 255);
  color: white;
  outline: none;
}

.ball-position {
  position: absolute;
  top: 0px;
  width: 300px;
  height: 100%;
}

.ball {
  position: relative;
  height: 200px;
  width: 200px;
  right: 100px;
  top: 0;

  border-radius: 50%;
  background-color: blue;
  background: radial-gradient(
    76.75% 76.75% at 70% 23.25%,
    #05a8e9 0%,
    #091ee0 100%
  );
}

.ball2 {
  position: relative;
  height: 200px;
  width: 200px;
  left: 330px;
  top: 440px;

  border-radius: 50%;
  background-color: blue;
  background: radial-gradient(
    76.75% 76.75% at 70% 23.25%,
    #05a8e9 0%,
    #091ee0 100%
  );
}

.senha {
  display: flex;
  justify-content: space-between;
}

.senha a {
  font-size: .98rem;
  margin-top: 20px;

  color: rgba(255, 255, 255, 0.692);
}

.senha a:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.623);
}

#checkbox {
  width: 13px;
  height: 13px;
  margin-right: 2px;
  border-radius: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

form button {
  width: 100px;
  height: 38px;
  border: none;

  font-size: 1.1rem;

  border-radius: 10px;
  color: white;
  background-color: rgba(2, 2, 2, 0.5);
}

form button:hover {
  background-color: #201e1e;
  box-shadow: 0px 0px 6px rgb(0, 153, 255);
  transition: 0.2s;
  cursor: pointer;
}

.icons {
  position: absolute;

  width: 100%;
  top: 380px;
}

.icons span {
  width: 40%;
  height: 1px;

  background-color: rgba(240, 248, 255, 0.37);
}

.text {
  display: flex;
  align-items: center;
}

.icons p {
  display: flex;
  align-items: center;
  width: 179px;
  margin-inline: 10px;
  text-align: center;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.822);
}

.liks {
  display: flex;
  justify-content: center;
  width: 100%;
}

.liks ul {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

img {
  width: 25px;
}

@media screen and (max-width: 550px) {
  .icons p {
    font-size: 0.96rem;
  }
}

@media screen and (max-width: 414px) {
  .ball2 {
    position: relative;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    left: 250px;
    top: 440px;
    background-color: blue;
    background: radial-gradient(
      76.75% 76.75% at 70% 23.25%,
      #05a8e9 0%,
      #091ee0 100%
    );
  }
  .icons p {
    font-size: 0.89rem;
  }

  .senha a {
    font-size: 0.77rem;
  }

  form button {
    font-size: 0.9rem;
  }

  #checkbox {
    width: 12px;
    height: 12px;
  }
}
