* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #2c2b2b;
}

.liga {
  background-color: rgb(255, 217, 2);
}

#container {
  width: 100%;
  padding: 10px;
  max-width: 294px;
}

#container img {
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

span {
  display: flex;
  width: 100%;
  justify-content: center;
}

.btn {
  position: absolute;
 bottom: 90px;
}

.checkbox {
  width: 30%;
  max-width: 84px;
  height: 34px;
  padding: 4px;

  display: flex;
  align-items: center;

  background-color: yellow;

  border-radius: 15px;

  border: 1px rgb(255, 255, 255) solid;

  transition: border-color 0.2ms, background-color 0.2s;

  cursor: pointer;
}

.checkbox::before {
  content: '';
  display: inline;

  width: 24px;
  height: 26px;
  border-radius: 15px;
  background-color: #000000;

  transition: width 0.2s, height 0.2s, transform 0.2s, background-color 0.2s;
}

.checkbox.on {
  border: 1px rgb(0, 0, 0) solid;
  background-color: #2c2b2b;
}

.checkbox.on::before {
  background-color: #ffffff;
  width: 24px;
  height: 26px;
  transform: translateX(48px);
}
