@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
}

.back {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.back h1 {
  filter: drop-shadow(6px 7px 2px rgba(84, 58, 183, 1));
  font-size: 19rem;
  color: #ffffff;
}

.content {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  color: rgb(0, 0, 0);
}

.text {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.text h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
}

.text h2 {
  padding: 13px;
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
}

.text span {
  margin-top: 30px;
}

.text a {
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  background: rgb(63, 34, 179) ;
  border-radius: 5px;
  padding: 10px 40px;
}

.text a:hover {
  background-color: rgb(0, 98, 110);
  transition: 0.3s;
}

@media screen and (max-width: 707px) {
  .back h1 {
    font-size: 13rem;
  }

  .text h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 1.75rem;
  }

  .text h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
  }

  .text a {
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    font-size: 1rem;
    color: white;
    border-radius: 5px;
    padding: 5px 20px;
  }
}

@media screen and (max-width: 412px) {
  .back h1 {
    font-size: 12rem;
  }
}
@media screen and (max-width: 360px) {
  .back h1 {
    font-size: 11rem;
  }
}





.btn-back {
  position: fixed;
  height: 46px;
  width: 46px;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.toolTip {
  border-radius: 0px 10px 10px 10px;
  width: 60px;
  padding: 6px 8px;
  position: absolute;
  top: 46px;
  left: 30px;
  font-family: sans-serif;
  display: none;
  font-weight: 600;
  font-size: .9rem;
  background-color: #01060fa2;
  color: #ffffff;
  transition: 0.4s;
}

.btn-back a img {
  width: 100%;
  filter: drop-shadow(0 0 6px #014b7c);
  transition: filter 0.3s;
}

.btn-back a img:hover {
  filter: brightness(2.06);
  filter: drop-shadow(0 0 10px rgb(0, 105, 175));
}

.btn-back:hover .toolTip {
  display: inline;
}
