@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
background: linear-gradient(-190deg, rgb(0, 204, 255), rgb(196, 195, 195));
  object-fit: cover;
}

.mudar {
  background: linear-gradient(-190deg, rgb(255, 255, 255), rgb(0, 89, 255));
}

.btns {
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.efeito {
  font-family: 'Itim', cursive;
  border: none;
  width: 308px;
  padding: 20px;
  margin: 10px;
  font-size: 2.1rem;
  font-weight: 900;
  line-height: 24px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.4s ease;
  color: rgb(0, 0, 0);
}

.efeito-6 {
  transform-style: preserve-3d;
  background-color: rgb(255, 255, 255);
}

.efeito::after {
  position: absolute;
  top: -100%;
  left: 0px;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  transform-origin: left bottom;
  transform: rotateX(90deg);

  content: 'Desafio concluido!';
  color: white;
  background-color: rgb(0, 60, 255);
}

.efeito-6:hover {
  transform-origin: center bottom;
  transform: rotateX(-90deg) translateY(100%);
}
